
.container{
  background-color:$container-color-before;
  width: 800px;
  height: 500px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.container::before{
  content: '';
  width: 350px;
  height: 500px;
  background-color: $container-color-after;
  position: absolute;

}

input::placeholder{
  color: $color-parrafo;
  font-size: 20px;

}

.info-area h1{
  position: absolute;
  top: 20%;
  left: 22%;
  transform: translate(-50%, -50%);
  width: 25%;
  text-align: center;
  color:$color-parrafo;
  font-size: 35px;
}

.info-area p{
  position: absolute;
  top:50%;
  left:22%;
  transform: translate(-50%, -50%);
  color:$color-parrafo;
  font-size: 25px;

}

.form-contact{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 350px;
  overflow: hidden;
}

.form-contact input{
  outline: none;
  padding: 0 0 0 35px;
  border: 1px solid $transpariencia;
  border-bottom-color: $container-color-after;
  background: transparent;
  width: 90%;
  height: 50px;
  margin-bottom: 10px;
  color:$color-parrafo;
  font-size: 20px;
}


#enviar{
  padding: 60px 20px 20px 60px;
  margin-top: 40px;
  width: 100%;
  border: none;
  background-color: $container-color-after;
  color: $color-parrafo;
  cursor: pointer;
  padding: 0;
  font-size: 20px;
  border-style: none;
}
